#root{
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background: rgb(53,50,182);
  background: linear-gradient(27deg, rgba(53,50,182,1) 7%, rgba(33,185,255,1) 87%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.cities-container{
  width: 100%;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(480px,1fr)) ;
  justify-content: center;
}

.add-weather-card{
  grid-column: 1/-1;
  justify-self: center;
  
  width: 100%;
  height: 100px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-weather-card > input{
  
  width: 15rem;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: .4rem;
  font-size: 2rem;
}
.add-weather-card > input::placeholder {
  transition: ease-in;
  opacity: 0.25;
}





.weather-card{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  justify-self: center;
  margin:2rem;
  
  overflow: hidden;
  border-radius: 10px;
  width: 450px;
  height: 220px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  
}

.weather-card > .city-name{
grid-row: 1/1;
font-size: 3rem;
padding: 10px;
display: flex;
align-items: center;
justify-content: center;
z-index: 10;
color: white;
background-color: rgba(0, 0, 0, 0.65);
}
.weather-card > .min-temp{
  color: rgb(134, 215, 242);
  font-weight: 600;
  font-size: 1.4rem;
  grid-row: 2/3;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);

  
 }
.weather-card > .max-temp{
  color: rgb(238, 165, 113);
  font-weight: 600;
  font-size: 1.4rem;
  grid-row: 3/4;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);

}

.weather-card > .current-temp{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 3.1rem;
  z-index: 10;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);

}

.weather-card > .wind-speed{
  grid-row: 2/4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 2rem;
  z-index: 10;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);

}
.weather-card{
  background-size: cover;
  background-position: center;
  
}

.change-units{
  transition: 1s;
  color:rgb(251, 224, 224);
  cursor: pointer;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: center;
  
  justify-self: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.change-units:hover{
  
  color:rgb(255, 255, 255);
  transform: scale(1.04);
  transition: 1s;
}
.change-units > *{
  font-family: 'Delicious Handrawn', cursive;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-size: 4rem;
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.github-link > a >img{
  width: 2rem;
  padding: 1rem;
}

.github-link > a >img:hover{
  transition:8s ;
  transform: rotate(3600deg);
}
.logo{
  font-size: 2rem;
  display: flex;
  align-items: center;
  
}
.logo > .text{
  font-family: 'Delicious Handrawn', cursive;
  color: aliceblue;
}
.logo > img{
  width: 3rem;
  height: 3rem;
  z-index: 10;
  
  padding: 1rem;
}

.logo > [data-logo="sad"]{
 transform: scale(1.5);
}


.cities-container{
  
  margin-bottom: 3rem;
}
.footer{
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cred > a{
  color: rgb(39, 45, 94);
  text-decoration: none;
}

@media (max-width: 500px){
  .weather-card{
    overflow: hidden;
    border-radius: 10px;
    width: 330px;
    height: 190px;
  }
  .weather-card > .city-name{
    font-size: 2.2rem;
    }
    .weather-card > .min-temp{
   font-size: 1.3rem;
     }
    .weather-card > .max-temp{
     font-size: 1.3rem;
    
    }
    
    .weather-card > .current-temp{
      font-size: 2.4rem;
    }
    
    .weather-card > .wind-speed{
      font-size: 1.6rem;
    
    }
    .header > .logo{
      font-size: 1.5rem;
    }
}